*{margin: 0;padding: 0}
*{box-sizing: border-box}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.imgs{
    position: relative;
}
.imgs>img {
    width:100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
}
.imgs>img.current{
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.imgs>img.leave{
    transform: translateX(-100%);
    z-index:1;
}
.imgs>img.enter{
    transform: translateX(100%);
}
